.p-icon {
    display: inline-block;
    width: 30px;
    height:1px;
    text-align: center;
    line-height: 0px;
  
    
    font-size: 32px;
    border-radius: 50%;
  }
  
  .icon-text {
    font-weight: bold;
  }
  